@import "singolo2.css";

.get-a-quote {
    background: #f06c64;
    padding: 68px 0 12px 0;
}

.get-a-quote__title {
    font-size: 3rem;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
}

.get-a-quote__description {
    height: 57px;
    font-size: 1.8rem;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 300;
    letter-spacing: -0.012em;
    padding-top: 27px;
}

.layout-2-column {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;

}

.get-a-quote__form {
    width:  593px;
}

.get-a-quote__contact-info {
    width: 300px;
}

input, textarea {
    width: 100%;
    border: none;
    padding: 11px;
    padding-left: 15px;
    margin-bottom: 17px;
    border-radius: 5px;
    background-color: #d6564f;
}

input::placeholder, textarea::placeholder {
    font-size: 1.2rem;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
}

.button {
    width: 619px;
    border: none;
    padding: 11px;
    padding-left: 15px;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 1.2rem;
    color:  #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
}

.get-a-quote__bottom {
    height: 6px;
    background: #ea676b;;
}

.contact-title {
    color: #f0d8d9;
    }

.contact-description, a {
    padding-top: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
    letter-spacing: -0.005em;
    margin-bottom: 20px;
}

.ico {
    display: inline-block;
    height: 13px;
    width: 11px;
}

.ico_location {
    background: url("./assets/images/location.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-left: 1px;
}

.ico_phone {
    background: url("./assets/images/phone.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-left: 1px;
}

.ico_mail {
    background: url("./assets/images/mail.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-left: 2px;
}

a {
    text-decoration: none;
    padding-left: 11px;
    cursor: pointer;
}

.footer {
    background: #2d303a;;
}



.footer__title {
    font-size: 12px;
    line-height: 6px;
    color: #666d89;
    font-weight: 400;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 0 20px 0;
}

.footer__title {
    padding-top: 5px;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
    width: 153px;
    padding-top: 11px;
}